@import "../../../styles/font-mixins.scss";
@import "../../../styles/colors.scss";


.hero {
  background-color: $color-blue-very-light;
  
  // ... (Alle andere 'hero--...' secties blijven ongewijzigd) ...

  &__container {
    // ... (Ongewijzigd) ...
  }

  &__title-group {
    // ... (Ongewijzigd) ...
  }

  &__tag {
    margin-bottom: 5px;
    @include type-name-font($color-grey-normal);
  }

  &__title {
    margin-bottom: 10px;
    @include main-title-font;

    /* --- START AANGEPASTE STIJLEN (Titel) --- */
    // Overschrijf de Silkscreen/grote letterstijl met een "normaal" lettertype
    // Gebruik de stijlen van @mixin text-font (Atlas Grotesk) om het 'normaal' te maken
    font-family: "Atlas Grotesk", sans-serif !important; 
    font-weight: 400 !important; // Normaal gewicht
    font-size: 18px !important; // Een normale grootte
    line-height: 29px !important; // Een normale regelafstand
    
    // Zet de kleur op de beschikbare oranje-gele kleur
    color: $color-yellow-normal !important; 
    /* --- EIND AANGEPASTE STIJLEN --- */

    &--no-media {
      @extend .hero__title;
    }
    
    &--highlighted {
      @extend .hero__title;
      // Zorgt ervoor dat de basiskleur van highlighted ook geel is, 
      // tenzij overschreven door een specifieke sub-modifier.
      color: $color-yellow-normal !important; 
      
      &--blue {
        @extend .hero__title--highlighted;
        color: $color-blue-normal; // Behoudt de specifieke highlight kleur
      }

      &--red {
        @extend .hero__title--highlighted;
        color: $color-red-normal; // Behoudt de specifieke highlight kleur
      }
      
      // ... (Alle andere highlighted kleuren blijven ongewijzigd) ...
    }
    
    // Media queries binnen __title moeten ook worden overschreven als je 
    // de lettergrootte bij verschillende schermgroottes wilt behouden
    @media only screen and (min-width: 800px) {
        font-size: 20px !important; 
        line-height: 33px !important; 
    }
    @media only screen and (min-width: 1250px) {
        font-size: 24px !important; 
        line-height: 38px !important; 
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    @include text-font;

    /* --- START AANGEPASTE STIJLEN (Subtitel) --- */
    // Het lettertype is al 'Atlas Grotesk' (normaal) door @include text-font. 
    // We passen alleen de kleur aan.
    color: $color-yellow-normal; 
    /* --- EIND AANGEPASTE STIJLEN --- */

    &--no-media {
      @extend .hero__subtitle;
    }
  }

  &__media-container {
    // ... (De rest van het bestand blijft ongewijzigd) ...