@import "../../../styles/colors.scss";
@import "../../../styles/font-mixins.scss";

.list {
  margin: 40px 18px 60px 18px;
  text-align: center;
}

.list__title {
  @include main-title-font($color-blue-normal);
  margin-bottom: 24px;
  text-align: center;
}

.list__items {
  list-style: disc;        // ⭐ bullets
  padding-left: 20px;      // ruimte voor bullets
  margin: 0 auto;
  width: fit-content;
  text-align: left;        // bullets moeten links uitlijnen
}

.list__item + .list__item {
  margin-top: 8px;
}

.list__link {
  @include slightly-larger-text-font($color-grey-normal);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
