@import "../../../styles/font-mixins.scss";
@import "../../../styles/colors.scss";

// We gebruiken hier .contact-page in plaats van .location-page
.contact-page {

  &__main-content {
    display: grid;
    grid-template-columns: 1fr; // Mobiel standaard
    max-width: 1440px;
  }

  &__short-description, &__description {
    grid-column: 1 / -1;
  }
}

// Media queries aangepast naar .contact-page
@media only screen and (min-width: 500px) {
  .contact-page {}
}

@media only screen and (min-width: 850px) {
  .contact-page {

    &__main-content {
      grid-template-columns: auto 552px auto;
      max-width: none;
    }

    &__short-description, &__description {
      grid-column: 2 / 3;
    }
  }
}

@media only screen and (min-width: 1250px) {
  .contact-page {
    &__main-content {
      grid-template-columns: auto 729px auto;
    }
    &__page-navigator {
      margin-top: 45px;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .contact-page {
    &__main-content {
      grid-template-columns: auto 835px auto;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .contact-page {
    &__main-content {
      grid-template-columns: auto 920px auto;
    }
  }
}

// --- Rich Text Sectie (ongewijzigd, maar wel nodig) ---
.rich-text-section {
  margin: 35px 17px 50px 18px;
  
  &--with-navigator {
    @extend .rich-text-section;
  }
  
  &--smaller {
    margin: 35px 20px 50px 20px;
  }

  &__title {
    margin-bottom: 20px;
    @include title-font;
  }
}

// --- Map Sectie ---
.map-section {
  margin: 35px 17px 50px 18px;

  &__title {
    margin-bottom: 20px;
    @include title-font;
  }
}

// Dit zorgt ervoor dat de Google Maps iframe responsief is
.map-wrapper {
  width: 100%;
  overflow: hidden;

  .iframe-container {
    width: 100%;
    
    // Zorg dat de iframe binnen de div past
    iframe {
      width: 100% !important;
      max-width: 100%;
      height: 450px; 
      border: 0;
    }
  }
}

// Media Queries voor marges
@media only screen and (min-width: 500px) {
  .rich-text-section, .map-section {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media only screen and (min-width: 850px) {
  .rich-text-section, .map-section {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 1250px) {
  .rich-text-section, .map-section {
    width: 1030px;
    margin-top: 70px;
    margin-bottom: 90px;
  }
}

@media only screen and (min-width: 1400px) {
  .rich-text-section, .map-section {
    width: 1180px;
  }
}

@media only screen and (min-width: 1600px) {
  .rich-text-section, .map-section {
    width: 1300px;
  }
}