.imagewithtext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagewithtext__image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 20px;

}

.header {
  margin-bottom: 40px;
}

