@import "../../../styles/colors.scss";
@import "../../../styles/font-mixins.scss";

/* -------------------------------------------------------
   ⭐ FULL-WIDTH BACKGROUND OP SECTION
   (class komt uit JS: highlighted-section + kleur)
   ------------------------------------------------------- */
.highlighted-section {
  width: 100%;
  padding: 60px 0;
  margin: 0;

  &--red {
    background-color: $color-red-light;
  }

  &--blue {
    background-color: $color-blue-light;
  }

  &--yellow {
    background-color: $color-yellow-light;
  }

  &--green {
    background-color: $color-green-light;
  }

  &--purple {
    background-color: $color-purple-light;
  }

  &--grey,
  &--default {
    background-color: $color-grey-light;
  }

  &--white {
    background-color: $color-white-light;
  }
}

/* -------------------------------------------------------
   ⭐ IMAGE CONTAINER (GEEN achtergrond)
   + FOTO VERTICAAL CENTREREN
   ------------------------------------------------------- */
.highlighted-content__image-container {
  width: auto;
  max-width: 400px;
  align-self: center; // FOTO VERTICAAL IN MIDDEN
}

/* -------------------------------------------------------
   ⭐ BOLD FIX (lokale module)
   ------------------------------------------------------- */
.highlighted-content__large-text {
  strong,
  b {
    color: $color-grey-normal !important;
  }
}

/* -------------------------------------------------------
   ⭐ TITLE (Silkscreen)
   ------------------------------------------------------- */
.highlighted-content__title {
  @include main-title-font($color-blue-normal);

  font-size: 42px !important;
  line-height: 48px !important;
  font-weight: 800 !important;
  margin-bottom: 18px;

  @media only screen and (min-width: 800px) {
    font-size: 54px !important;
    line-height: 60px !important;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 64px !important;
    line-height: 72px !important;
  }
}

/* -------------------------------------------------------
   ⭐ DESCRIPTION TEXT
   ------------------------------------------------------- */
.highlighted-content__large-text {
  @include text-font($color-grey-normal);

  &--with-navigator {
    @include slightly-larger-text-font($color-grey-normal);
    margin-bottom: 0;
  }
}

/* -------------------------------------------------------
   ⭐ BASE LAYOUT (centreren + geen witte randen meer)
   ------------------------------------------------------- */
.highlighted-content {
  display: grid;
  grid-row-gap: 25px;
  margin: 0 auto;        // GEEN wit boven/boven blokken
  padding: 0 20px;       // veilige zijruimte
  max-width: 1180px;     // mooi gecentreerd

  &--with-navigator {
    @extend .highlighted-content;
  }

  &--last {
    @extend .highlighted-content;
  }

  &__image-responsive-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__text-container {
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;

    &--reverse {
      @extend .highlighted-content__text-container;

      &--with-navigator {
        @extend .highlighted-content__text-container--reverse;
      }
    }

    &--with-navigator {
      @extend .highlighted-content__text-container;
    }
  }
}

/* -------------------------------------------------------
   ⭐ RESPONSIVE (ongewijzigd)
   ------------------------------------------------------- */
@media only screen and (min-width: 500px) {
  .highlighted-content {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media only screen and (min-width: 800px) {
  .highlighted-content {
    margin-bottom: 50px;
    grid-row-gap: 25px;

    &__image-container {
      max-width: 400px;
    }
  }
}

@media only screen and (min-width: 850px) {
  .highlighted-content {
    display: grid;
    grid-template:
      "left right" / 370px 370px;
    column-gap: 40px;
    grid-row-gap: 60px;
    width: 780px;
    margin: 0 auto 60px;

    &--with-navigator {
      grid-template:
        "up"
        "down" / auto;
      grid-row-gap: 25px;
      width: auto;
      margin: 0 20px 50px 40px;
    }

    &--last {
      margin-bottom: 80px;
    }

    &__image-container {
      grid-area: left;

      &--with-navigator {
        grid-area: up;
      }

      &--reverse {
        grid-area: right;

        &--with-navigator {
          grid-area: up;
        }
      }
    }

    &__text-container {
      grid-column: right;
      align-self: center;

      &--with-navigator {
        grid-area: down;
      }

      &--reverse {
        grid-column: left;

        &--with-navigator {
          grid-area: down;
        }
      }
    }
  }
}
